html{
  font-size: 16px;
}

* {
  box-sizing: border-box; /* 设置所有元素的盒模型为 border-box */
}

body {
  font-family: "Source Code Pro","Courier New","等线", Courier, monospace;
  padding: 10px; /* 页面整体的内边距 */
  background-color: #333;
  color: #c9cdd1;
  margin: 0; /* 去除默认的外边距 */
}

/* 整体页面 */
.container {
  max-width: 100ch;
  margin-left: auto;
  margin-right: auto;
  
}

/* 按钮 */
.button {
  display: inline-block;
  padding: 4px 4px; /* 上下左右的内边距均为 4px */
  background-color: #ffffff; /* 设置背景颜色为白色 */
  color: #333; /* 设置文字颜色为深灰色 */
  text-decoration: none; /* 移除链接的下划线效果 */
  border-radius: 4px; /* 设置圆角半径为 4px */
  font-size: 15px; /* 设置字体大小为 15px */
  border: none; /* 移除边框 */
  margin-bottom: 10px; /* 调整下外边距为 10px */
  cursor: pointer; /* 设置鼠标悬停时的样式为手型 */
  margin: 0; 
}

/* 保存按钮*/
button[type="submit"] {
  padding: 9px 10px; /* 调整按钮的内边距 */
  font-size: 15px;
  border-radius: 4px;
  border: none;
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
  margin-bottom: 10px; /* 下外边距为 10px */
}

.button:hover {
  background-color: #a7a3a3; /* 设置鼠标悬停时的背景颜色 */
}       

/* 输入框 */
#diary-content {
  font-size: 23px;
  width: 100%; /* 减去内边距的宽度 */
  height: 300px;
  font-family: "Source Code Pro","Courier New","等线", Courier, monospace;
  padding: 10px; /* 增加文本区域的内边距 */
  margin-bottom: 10px; /*下外边距为 10px */
}

/* 日记块 */
.LogContent { 
  width: 100%;
  font-size: 20px;
  border: 2px solid hsl(240, 2%, 9%); /* 设置边框样式 */
  font-family: "Source Code Pro","Courier New","等线", Courier, monospace;
  line-height: 1.35;
  tab-size: 2;
  display: block; /* 设置为块级元素 */
  padding: 5px; /* 代码块的内边距 */
}

/* 日记条 */
.LogDiv {
  position: relative; 
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
  margin: 0 auto 5px; /* 设置外边距 */
  font-family: "Source Code Pro","Courier New","等线", Courier, monospace;
  line-height: 1.35;
  tab-size: 2;
  display: block; /* 设置为块级元素 */
  padding: 1px; /* 代码块的内边距 */
}

/* 设置代码块容器的样式 */
.code-block-container {
  position: relative; /* 相对定位，作为后续绝对定位元素的参考 */
  background-color: #1f1f1f; /* 设置背景色 */
}


/* 设置复制按钮的样式 */
  .copyIconSvgButton{
  position: absolute; /* 绝对定位，相对于最近的相对定位祖先元素 */
  top: 2px; /* 距离容器顶部10px */
  right: 15px; /* 距离容器右边10px */
  cursor: pointer; /* 鼠标悬停时显示指针 */
  background-color: transparent; /* 设置背景为透明 */
  border: none; /* 去除边框 */
  color: #e5e7eb; /* 设置按钮文本颜色为蓝色 */
  width: 1rem;
}

.copyIcon{
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.code-container{
  display: flex;
  flex-direction: column;
  background-color: rgb(63, 63, 70);
  margin: 0; /* 去除默认的外边距 */

  /* align-items: end; */
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: white;
  margin: 0em 0px; 
}

.LogContent {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 2px; 
  margin-top: 10px;
  /* 设置上边距为 10 像素 */
  /* margin-bottom: 10px; */
  /* 设置下边距为 10 像素 */
  width: 100%;
  font-size: 1rem;
  border: 0px solid hsl(0, 0%, 0%);
  /* 设置边框样式 */
  /* margin: 0 auto 10px; 设置外边距 */
  font-family: "Source Code Pro", "Courier New", "等线", Courier, monospace;
  text-rendering: geometricPrecision;
  line-height: 1.35;
  tab-size: 2;
  display: block;
  /* 设置为块级元素 */
  background-color: rgb(39, 39, 42);
  border-radius: 6px;
  /* 设置所有四个角的圆角大小为 10 像素 */
  /* background-color: #27272A; */
}

.copyIconSvgButton{
  --Icon-margin: initial;
  --Icon-color: var(--joy-palette-text-icon);
  --Icon-fontSize: calc(var(--IconButton-size, 2rem) / 1.6);
  --CircularProgress-size: 20px;
  --CircularProgress-thickness: 2px;
  min-width: var(--IconButton-size, 2rem);
  min-height: var(--IconButton-size, 2rem);
  font-size: var(--joy-fontSize-sm);
  padding-inline: 2px;
  -webkit-tap-highlight-color: transparent;
  padding-block: 0px;
  font-family: var(--joy-fontFamily-body);
  font-weight: var(--joy-fontWeight-md);
  margin: var(--IconButton-margin);
  border-radius: var(--IconButton-radius, var(--joy-radius-sm));
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  --variant-borderWidth: 0px;
  color: var(--variant-plainColor, var(--joy-palette-neutral-plainColor, var(--joy-palette-neutral-700, #ffffff)));
  --IconButton-size: 24px;   
}

.tag{
  color:rgb(254, 121, 45);
  background-color: rgb(63, 63, 70);
  border-radius: 2px;
}

.singleLineCode{
  color:rgb(5, 238, 238);
  background-color: rgb(63, 63, 70);
  border-radius: 2px;
}

/* 设置超链接的默认样式 */
a {
  color: rgb(136, 255, 0) ; /* 设置超链接的默认颜色 */
  text-decoration: none; /* 去除超链接的下划线 */
}

/* 设置超链接的:hover伪类样式，当鼠标悬停在超链接上时的样式 */
a:hover {
  color: rgb(255, 102, 0); /* 设置鼠标悬停时超链接的颜色 */
  text-decoration: none; /* 添加下划线效果 */
}

.pop{
  position: absolute; 
   z-index: 1000;
  top: 0; 
  right: 0; /* 将 left 修改为 right */
  width: 80px;
}


/* 悬浮窗口样式 */
.popup {
  z-index: 1000; /* 确保它在顶层 */
  display: none; /* 默认不显示 */
  /*display: inline-block; /* 将元素显示为块级元素*/ 
  width: 60px;
}

.popup button { 
  padding: 4px 12px; /* 调整按钮内边距 */
  background-color: rgb(24, 24, 24); /* 设置按钮背景颜色 */
  color: #c9cdd1; /* 设置按钮文字颜色 */
  border: none; /* 移除按钮边框 */
  /* border-radius: 5px;  */
  cursor: pointer; /* 设置鼠标样式为手型 */
  font-size: 1rem;
}

.popup button:hover {
  background-color: #aaa095; /* 设置鼠标悬停时的背景颜色 */
}


/* 三个点图标样式 */
.ellipsis-icon {
  position: absolute; /*绝对定位*/
  right: 5px;
  top: 5px;
  cursor: pointer;
  padding: 0 0px; /* 如果需要添加内边距的话 */
  border: 5px solid transparent; /* 添加透明外边框 */
  border-radius: 6px;
  font-size: 28px; /* 修改为你想要的大小 */
  
}