body {
    font-family: "Source Code Pro", "Courier New", "等线", Courier, monospace;
    background-color: rgb(24, 24, 27);
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100vh; /* 让 body 高度占满视窗 */
    margin: 0; /* 去除默认的 margin */
}

* {
    box-sizing: border-box;
    border-radius: 6px;
}

.container {    
    max-width: 350px;
    min-width: 350px;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;

}


p {
    color: #818181;
}

a {
    color: #007bff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #818181;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: normal;
    color: #818181;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #007bff;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
