<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Diary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">
    <link rel="icon" type="image/png" href="static/img/favicon-32x32.png">
</head>
<body>
    <h1>Edit Diary</h1>
    <form method="post" action="{{ url_for('edit', diary_id=diary['id']) }}">
        <label for="tag">Tag:</label>
        <input type="text" id="tag" name="tag" value="{{ diary['tag'] }}"><br>
        <label for="content">Content:</label>
        <textarea id="content" name="content">{{ diary['content'] }}</textarea><br>
        <input type="submit" value="Save Changes">
    </form>
    <!-- <script>
        // 页面加载完成后执行的代码
        document.addEventListener('DOMContentLoaded', function () {
        
            // 获取 diary-content 文本框元素
            const diaryContent = document.getElementById('content');

            // 监听页面关闭事件
            window.addEventListener('beforeunload', function (e) {
                // 检查文本框中是否有内容
                if (content.value.trim() !== '') {
                    // 弹出确认提示框
                    e.preventDefault();
                    e.returnValue = ''; // 兼容旧版浏览器
                    return '您的日记内容尚未保存，确定要离开吗？'; // 兼容现代浏览器
                }
            });

        });
    </script> -->
</body>
</html>

