<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Diary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">
</head>
<body>
    <h1>Edit Diary</h1>
    <form method="post" action="{{ url_for('edit', diary_id=diary['id']) }}">
        <label for="tag">Tag:</label>
        <input type="text" id="tag" name="tag" value="{{ diary['tag'] }}"><br>
        <label for="content">Content:</label>
        <textarea id="content" name="content">{{ diary['content'] }}</textarea><br>
        <input type="submit" value="Save Changes">
    </form>
    <script>
        
    </script>
</body>
</html>

