<!DOCTYPE html>
<html>
<head>
    <title>My Diary </title> 
    
</head>
<body>
    <h3>My Diary</h3>
    <a href="tp.html">图片页面</a>

    <form id="diary-form">
        <textarea id="diary-content" rows="5" cols="50"></textarea>
        <br>
        <button type="submit">Save</button>
    </form>

    <div id="diary-list"></div>

    <script>
        // 获取日记列表
        fetch('/get_diaries')
            .then(response => response.json())
            .then(diaries => {
                // 在页面上显示日记列表
                const diaryList = document.getElementById('diary-list');
                diaries.forEach(diary => {
                    const content = diary.content;
                    const p = document.createElement('p');
                    p.textContent = content;
                    diaryList.appendChild(p);
                });
            });
        
        const dateObj = new Date();
        const dateStr = dateObj.toLocaleDateString(); // 获取当前日期字符串
        const timeStr = dateObj.toLocaleTimeString(); // 获取当前时间字符串
        // 提交日记表单
        const form = document.getElementById('diary-form');
        form.addEventListener('submit', event => {
            event.preventDefault();

            const content_old = document.getElementById('diary-content').value;
            const content = `## ${dateStr} ${timeStr}:\n` + content_old;
            //console.log(content)

            // 发送日记内容到后台
            fetch('/submit_diary', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({content})
            })
            .then(response => response.json())
            .then(diary => {
                // 在页面上显示新保存的日记
                const content = diary.content;
                const p = document.createElement('p');
                p.style.whiteSpace = "pre";
                p.textContent = content;
                const diaryList = document.getElementById('diary-list');
                <!-- diaryList.appendChild(p); -->
                // 将p元素放在diaryList第一个元素的前面，即p元素放在最前面
                diaryList.insertBefore(p, diaryList.firstChild);
                
                // 清空表单
                const form = document.getElementById('diary-form');
                form.reset();
            });
        });
    </script>
</body>
</html>
