<!DOCTYPE html>
<html>
<head>
    
    <title>TinyNote</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="icon" type="image/png" href="static/img/favicon-32x32.png">
</head>
<body>
    <link rel="stylesheet" href="">
    <div class="container">
        <!-- 你提供的按钮 -->
        <!-- <a href="tp.html" class="button" target="_blank">图片</a> -->
        <a href="https://lzw.fukonglzw.cn:6060/" class="button" target="_blank">微云盘</a>
        <a href="ztb.html" class="button">粘贴板</a>
        <div class="button"> 
            <button id="clearCookieBtn">注销</button>
        </div>
        <div class="button"> 
            <!-- 使用相同的类名来标识该按钮 -->
            <button class="pull-button">拉取</button>
        </div>

        <!-- 日记表单 -->
        <form id="diary-form">
            <textarea id="diary-content"></textarea>
            <br>
            <button type="submit">Save</button>
        </form>

        <!-- 日记列表 -->
        <div id="diary-list">

        </div>

    <!-- 引入样式表 -->
    <script src="static/index.js"></script>

</body>
</html>
