<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="static/img/path/to/favicon-32x32.png">
  </head>
    <body>
        <style>
            img {
              width: 50%;
              height: auto;
              margin: auto;
              float: left;
            }
          </style>
        <div>
            <!-- <h2>图片页面</h2>
            <a href="/">主页</a> -->
            <img src="static\img\yw.jpg" alt="云雾">
            <img src="static\img\hailang.jpeg" alt="海浪">
        </div>
    </body>
</html>